<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <div class="error-container">
        <img class="centered-image" src="/img/camaron_error.jpg" alt="Camaron molesto_error">
        <h1>Error</h1>
        <p>Usuario o contraseña incorrectos. Por favor, verifica tus credenciales.</p>
        <a class="redirect-link" href="/home/reservas/form_reserva/login">Volver a la página de inicio</a>
    </div>
</body>
</html>